*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #333333;
}
::-webkit-scrollbar {
    width: 0px; 
}
    
#home{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.header{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky{
    z-index: 3;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
    background-color: #0073aa;
    
}
.logo{
    width: 20%;
    top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 100px;
}
.banner-text img {
    height: 200px;
}
.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.53),rgba(0, 0, 0, 0.623)), url(../images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    /* border: 2px solid white; */
}
#sidenav{
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0%;
    background-color: #088fce;
    z-index: 2;
    border-radius: 20px 0px 0px 20px;
    transition: all 0.5s ease;
}
#sidenav nav ul li{
    list-style: none;
    padding: 0px 15px;
    margin: 50px 20px;
}
#sidenav nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menubtn{
    width: 50px;
    height: 50px;
    background-color: #0073aa;
    text-align: center;
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 35px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}
.quick-inquiry{
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 10;
    transition: all 0.5s ease;
    transform: rotate(-270deg);
}
.qibtn{
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #fff;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: black;
    border: none;
    outline: none;
    border-radius: 8px;
}

.option{
    z-index: 3;
    top: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat; */
}
.option i{
    color: #fff;
    font-size: 1.3rem;
}
.navbar{
    width: 60%;
    text-align: center;
    z-index: 3;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat; */
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
   text-decoration: none; 
   color: white;
   letter-spacing: 2px;
   font-size: 13px;
   padding: 15px;
   text-transform:uppercase;
}
.navbar ul li a:hover{
    color: rgb(170, 170, 170);
}
.navbar ul li:hover{
    transition: all 0.4s ease-in-out;
}
.control{
    background: #afca23;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 100px;
    width: 100%;
    height: 50px;
}
.nav ul li a:hover{
    color: rgb(57, 57, 57);
}
.control h1{
    display: flex;
    letter-spacing: 2px;
    font-weight: 500;
    justify-content: center;
    align-items: center ;
    flex-basis: 50%;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-basis: 50%;
}

.nav ul li {
    list-style: none;
}
.nav ul li a{
   text-decoration: none; 
   color: white;
   letter-spacing: 2px;
   font-size: 13px;
   padding: 15px;
   text-transform:uppercase;
}
/* ************************************ */
#about{
    display: flex;
    height: 70vh;
    margin-top: 20px;
    flex-basis: 100%;
}
.aboutimg{
    margin: 15px;
    flex-basis: 50%;
}
.aboutimg video{
    /* width: auto; */
    height: 100%;
}
.aboutinfo{
    background-color: #ce3f6d;
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.aboutinfo h1{
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
}
.aboutinfo p{
    padding: 20px 10px;
    letter-spacing: 1.5px;
    color: white;
}
.aboutinfo a button{
    cursor: pointer;
}
.aboutinfo button{
    color: whitesmoke;
    background-color:  #afca23;
    padding: 19px 30px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid  #afca23;
}

/* ******************************** */
#footer{
    width: 100%;
    margin-top: 70px;
    padding: 100px 0 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 14, 216, 0.393)),url(../images/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1{
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    font-size: 2.3rem;
}
.footer-row{
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis:24% ;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-mid{
    flex-basis:45% ;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-right a{
    text-decoration: none;
    color: rgba(255,255,255,.6);
    transition: all 0.3s ease-in-out;
}
.footer-right a:hover{
    color: #fff;
}

.footer-row h1{
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;
}
.footer-row p{
    color: rgba(255,255,255,.6);
    line-height: 35px;
}
.footer-left i{
    margin: 10px;
}.footer-right i{
    font-size: 20px;
    color:rgba(255,255,255,.6) ;
    margin: 10px;
}
.footer-left p:hover{
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.social-links{
    text-align: center;
}
.social-links i{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #fff;
    margin: 40px 5px 0;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.social-links i:hover{
    background: #2439f3b4;
    color: #fff;
    border: 1px solid #2439f3b4;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;

}
.footer-mid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.footer-mid nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-mid nav ul li{
    list-style: none;
    padding: 10px 16px;
    margin: 5px 6px;
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;
}
.footer-mid nav ul li a{
    text-decoration: none;
    color: rgba(255,255,255,.6);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.footer-mid nav ul li a:hover{
    color: #fff;
}
.footer-mid nav ul li:hover{
    color: #fff;
    transform: translateY(-3px);
}
.footer-mid img{
    height: 200px;
}


/* ******************************* */
@media screen and (max-width: 370px) {
    .banner-text img{
        height: 100px;
    }
    .control h1{
        flex-basis: 40%;
        font-size: 10px;
    }
    .nav{
        flex-basis: 60%;
    }
    .nav ul li span{
       font-size: 10px;
    }
}
@media screen and (max-width: 770px) {
    #menubtn{
        display: block;
    }
    .control h1{
        font-size: 14px;
    }
    .nav ul li{
        font-size: 14px;
    }
    .nav ul li a{
        font-size: 10px;
    }
    .header{
        display: none;
    }
    #about{
        height: 70%;
        display: flex;
        flex-direction: column;
    } 
    .aboutinfo{
        flex-basis: 100%;
    }
    .aboutinfo p{
        flex-basis: 100%;
    }
    .aboutimg{
        flex-basis: 100%;
    }
    .aboutimg video{
        width: 100%;
    }
    .aboutinfo h1{
        font-size: 30px;
    }
    .aboutinfo p{
        font-size: 11px;
    }
    .aboutinfo button{
        font-size: 13px;
        padding: 15px 25px;
    }
    .feature{
        flex-basis: 100%;
    }
    .feature-img{
        flex-basis: 100%;
    }
    .feature-img img{
        width: 100%;
    }
    .footer-mid nav{
        display: none;
    }
    .footer-mid img{
        height: 130px;
    }
    .footer-left,.footer-right,.footer-mid{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
    .quick-inquiry{
        display: none;
    }
}
