*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0px; 
}
body{
    height: 100vh   ;
    width: 100%;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.body{
    width: 100%;
    min-height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.alert{
    text-align: center;
    width:100%;
    position: relative;
    z-index: 10;
    padding: 20px;
    background-color: #ff5b5b;
    color: white;
}
.success {
    text-align: center;
    width:100%;
    position: relative;
    z-index: 1000;
    padding: 20px;
    background-color:  #00d084;
    color: white;
}
.warning {
    text-align: center;
    width:100%;
    position: relative;
    z-index: 1000;
    padding: 20px;
    background-color: #faa424;
    color: white;
}

#homebtn{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    top: 20px;
    left: 35px;
    border-radius: 10px;
    cursor: pointer;
}
#homebtn i{
    color: #0073aa;;
    font-size: 25px;
    margin-top: 15px;
}
.form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.form-box{
    z-index: 999;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    width: 350px;
    padding: 50px 40px;
    border-radius: 5px;
    overflow: hidden;
}

.form-box h2 {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 750;
}

.field{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}
.field.active{
    border-bottom: 2px solid #0065ff;
    transition: all 0.3s ease;
}

.field input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 1em;
    padding-bottom: 10px;
}

.field i{
    color: #828da0;
    font-size: 1.3em;
    margin-right: 10px;
    padding-bottom: 10px;
}
.field.active i{
    color: #0065ff;
    transition: all 0.3s ease;
}
::placeholder{
    color: #828da0;
    font-size: 0.85em;
}
.eye-btn{
    cursor: pointer;
}
.eye-btn i:hover{
    color: #0065ff;
    transition: all 0.3s ease;
}
.forgot-link{
    text-align: right;
    transform: translateY(-10px);
}
.forgot-link a{
    color: #0065ff;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 500;
}
.submit-btn{
    background: #0065ff;
    color: #fff;
    border: none;
    outline: none;
    width: 120px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}
.login-option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-option .text{
    color: #828da0;
    font-size: 0.65em;
    margin: 25px 0;
}
.other-login{
    display: flex;
}
.other-login a{
    border: 1px solid #ccc;
    padding: 11px 32px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    transition: all 0.3s ease;
}
.other-login a:hover{
    border: 1px solid #0065ff;
}
.other-login a img{
    width: 20px;
}
.imgBox img{
    width: 270px;
}
.sliding-link{
    display: flex;
    font-size: 0.8em;
    margin-bottom: 25px;
}
.sliding-link span{
    color: #0065ff;
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
}
.imgBox{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow:  0 5px 25px rgb(0 0 0 / 15%);
    height: 400px;
    padding: 15px 35px;
}

.sign-in-imgbox{
    border-radius: 0 5px 5px 0;
}
.sign-up-imgbox{
    border-radius: 5px 0 0 5px;
}
a{
    text-decoration: none;
    color: #0065ff;
}
